@import '../base/variables';
@import '../base/mapas';
@import '../base/extends';
@import '../base/mixin';

body {
    @extend %flex;
    background-color: $bg-color-main;

    .tituloMain {
        font-family: tahoma;
        font-size: 20px;
        color: $bg-color-general;
        margin: 20px;
    }

    .menuOpciones {
        margin: 10px;
    }

    .seccionInformacioSocio {
        .ulSocios {
            padding: 30px;

            .liSocios::before {
                content: "♥";
                color: #f39608;
            }
        }
    }

    .tabla--hide {
        display: flex;
    }

    .tabla {
        justify-content: center;
        display: none;

        .tablaSocios {

            margin: 20px;
            border: solid 1px black;
            width: 70%;
            justify-content: center;
            display: flex;
            border-radius: 10px;

            tbody {
                td {
                    list-style: none;
                }

                .buttonAbrirSocio {
                    height: 20px;
                    width: 20px;
                    cursor: pointer;
                }
            }
        }
    }


    .listadoSocios {
        justify-content: center;
        display: flex;

        .listaSocios {
            color: white;
            border-radius: 10px;
            width: 60%;
            background-color: #003290;
        }
    }

    .modalSocios {
        .modal-content {
            padding: 5px;
            background-color: #f39608;
            color: white;

            .form-control {
                background-color: white;
            }
        }

        .listadoCuotas {
          
            background-color: white;
            tbody {
                td {
                    list-style: none;

                }
            }
        }
        
    }


}