/*Mapas*/
$cardNoticias: (
    /* Key - Value */
    width: 30%,
    margin: 10px,
    display: inline-flex,
);

$conNoticias: (
    color: white,
    background-color: rgb(0, 50, 144, .4),
    cursor: pointer,
)